server:
  port: 8080

spring:
  application:
    name: video-stream-middleware
  
  # 异步配置
  task:
    execution:
      pool:
        core-size: 8
        max-size: 20
        queue-capacity: 100
      thread-name-prefix: async-


# 日志配置
logging:
  level:
    root: INFO
    com.zsq.middleware: DEBUG
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"
  file:
    name: ./logs/video-stream-middleware.log
    max-size: 100MB
    max-history: 30

# Actuator配置
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always
